<!-- Footer -->
<footer class="section-footer border-top">
    <div class="container">
        <div class="justify-content-center text-center text-muted pb-3 pt-2">
            <p style="padding-top: 10px;"> &copy Copyright 2021 @lavalera97 </p>
            <a class="github-link" style="color: inherit; text-decoration: none;" href="https://github.com/lavalera97"><i
                    class="fab fa-lg fa-github"></i></a>
            <a class="telegram-link" style="color: inherit; text-decoration: none; padding-left: 10px;" href="https://t.me/lavalera"><i
                    class="fab fa-lg fa-telegram"></i></a>
        </div>
    </div><!-- //container -->
</footer>