<section class="border-bottom navbar-style fixed-top">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div class="">
            <a class="navbar-brand effect-shine" href="{% url 'home' %}">
                <span class="site-title">CoolRecipes</span>
                <i class="fas fa-ice-cream d-inline-block site-title-icon"></i>
            </a>
        </div>
          <div class="search-form">
              <form class="d-flex" method="get" action="#">
                  <input type="text" class="form-control search-text me-2" placeholder="Название рецепта" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <button class="btn btn-outline-secondary" type="button">Найти</button>
              </form>
          </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="toggle"><i class="fas fa-stream"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto mb-0">
              <a class="nav-link active nav-comp" aria-current="page" href="#"> <button class="btn btn-enter" type="button">Войти</button> </a>
              <a class="nav-link active nav-comp" aria-current="page" href="#"> <button class="btn btn-enter" type="button">Регистрация</button> </a>
              {% if current_user.is_authenticated %}
               <a class="nav-link active nav-mob" aria-current="page" href="#"><span>Мои рецепты</span></a>
               <a class="nav-link active nav-mob" aria-current="page" href="#"><span>Выйти</span></a>
              {% elif current_user.is_authenticated == False %}
               <a class="nav-link active nav-mob" aria-current="page" href="#"><span>Войти</span></a>
               <a class="nav-link active nav-mob" aria-current="page" href="#"><span>зарегестрироваться</span></a>
              {% endif %}
               <a class="nav-link active nav-mob" aria-current="page" href="#"><span>Войти</span></a>
               <a class="nav-link active nav-mob" aria-current="page" href="#"><span>Зарегестрироваться</span></a>
                <div class="search-mob ms-auto pb-2 pt-3">
                      <form class="d-flex" method="get" action="#">
                          <input type="text" class="form-control search-text me-2" placeholder="Поиск" aria-label="Recipient's username" aria-describedby="basic-addon2">
                          <button class="btn btn-outline-secondary" type="button">Найти</button>
                      </form>
                </div>
          </div>
        </div>
      </div>
    </nav>
    </div>
</section>